.container {
  position: relative;
  width: 350px;
  height: 250px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.64);
  animation-name: flyin ;
  animation-duration: 1s;
  animation-timing-function: ease;
  position: relative;
}
@keyframes flyin {
  
  from {top: 50px;}
  to {top: 0px;}
}
.image {
  width: 350px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  margin-bottom: 10px;
}

.cardHeader {
  margin-left : 20px;
  font-size: 20px;
  font-family: 'Displace-Medium';
}
