.container {
  position: relative;
  width: 1080px;
  height: 1920px;
  background-color: var(--bg);
}

.frame {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top:0;
  left: 0;
  z-index: -5 !important;
}

