.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.frame {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top:0;
  left: 0;
  z-index: 0 !important;
}

