.main {
  position: relative;
}
.navLinkAx {
  position: absolute;
  z-index: 999999 !important;
  bottom: 50px;
  height: 53px;
  font-size: 30px;
  background-color: #00A7BB;
  color: white !important;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 45px;
  padding-right: 45px;
  transform: translateX(-100%);
  animation: slideIn 0.5s forwards;
  border: none;
}



@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
